<header>
  <div class="container">
    <a routerLink="/" class="logo">ShopX</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>

        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashbord">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart<span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
